<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>February 29th</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <div class = "container">
        <h1>A much-needed February 29th Checker</h1>
        <p>Enter a Date: </p>
        <form class = "form" action = "/results" method = "post">
            <input type = "date" name = "date" id = "date" value = "2020-02-29">
            <button type = "submit">Check Date</button>
        </form>
    </div>
</body>
</html>