<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>February 29th</title>
    <link rel = "stylesheet" href = "style.css"
</head>
<body>
    <div class = "container">
        <h1>A much-needed February 29th Checker</h1>
        <p>I can confirm that <%- date %> is, in fact, <span class = "red"><%- answer %></span> February 29th</p>
        <p><%- holiday %></p>
        <p>This date has been checked <span class = "green"><%- count %> times</span> (for whatever reason).</p>
        <br>
        <u><a id = "home" href = "/">Check Another Date</a></u>
    </div>
</body>
</html>